﻿
*{
    font-style:italic;
    font-size:large;
    color:blue;
    font-weight:600;

}

div{
    border:none;
}

/*Container*/
#idContainer
{
    width:280px;
    height:353px;
    background-color:blue;

}

/*Border 4 container*/
.cssBorder4Container {
    border-width:15px;
    border-radius:7px;
    border-color:cornflowerblue;
    border-style:groove;
    float:left;
    resize:both;
    overflow:hidden;
}

/*Border 4 all*/
.cssBorder {
    border-width:5px;
    border-color:cornflowerblue;
    border-style:outset;
    border-radius:7px;
    float:left;
}

/*Buttons common*/
.cssButton{
    width:70px;
    height:70px;
    text-align:center;
    vertical-align:super;
    margin:auto;
}

/*Number Buttons*/
.cssButtonOperand
{
    background-image:radial-gradient(circle, white, blue);
}

.cssButtonOperation
{
    background-image:radial-gradient(circle, blue, white);
    color:white;

}

/*Breakline form Buttons*/
.rowDiv
{
    clear:both;
}


/*InputField*/
#idInput
{
    width:270px;
    height:30px;
    float:left;
    background-color:white;
    border-style:inset;
}








